{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MiniTasker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=5">
</head>

<body>
    <header class="site-header">
        <div class="header-inner">
            <a class="brand" href="{% url 'tasks:task_list' %}">MiniTasker</a>
            <nav class="main-nav" aria-label="Основная навигация">
                <a href="{% url 'tasks:task_list' %}">Все задачи</a>
                <a class="button button-primary" href="{% url 'tasks:create_task' %}">+ Новая задача</a>
            </nav>
        </div>
    </header>

    <main class="page-container">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <div class="footer-inner">MiniTasker · учебный проект на Django</div>
    </footer>
</body>

</html>
